<% provide(:title, "Contact") %>
<title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
<h1><%= yield(:title) %></h1>
<p>
  <%= yield(:title) %> the Ruby on Rails Tutorial about the sample app at the
  <a href="http://www.railstutorial.org/contact"><%= yield(:title) %> page</a>.
</p>
